body {

    font-size: 14pt;
  
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  
    color: black;
  
    line-height: 14pt;
  
    padding-left: 10pt;
  
    padding-right: 10pt;
  
    padding-top: 5pt;
  
  }